[submodule "zsh/bundle/completions"]
	path = zsh/bundle/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/bundle/history-substring-search"]
	path = zsh/bundle/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "themes/catppuccin-bat"]
	path = themes/catppuccin-bat
	url = https://github.com/catppuccin/bat.git
[submodule "themes/catppuccin-btop"]
	path = themes/catppuccin-btop
	url = https://github.com/catppuccin/btop.git
[submodule "themes/catppuccin-eza"]
	path = themes/catppuccin-eza
	url = https://github.com/catppuccin/eza.git
[submodule "themes/catppuccin-lsd"]
	path = themes/catppuccin-lsd
	url = https://github.com/catppuccin/lsd.git
[submodule "themes/catppuccin-ghostty"]
	path = themes/catppuccin-ghostty
	url = https://github.com/catppuccin/ghostty.git
[submodule "themes/catppuccin-delta"]
	path = themes/catppuccin-delta
	url = https://github.com/catppuccin/delta.git
[submodule "themes/catppuccin-fzf"]
	path = themes/catppuccin-fzf
	url = https://github.com/catppuccin/fzf.git
[submodule "themes/catppuccin-starship"]
	path = themes/catppuccin-starship
	url = https://github.com/catppuccin/starship.git
[submodule "zsh/bundle/fast-syntax-highlighting"]
	path = zsh/bundle/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "themes/catppuccin-fsh"]
	path = themes/catppuccin-fsh
	url = https://github.com/catppuccin/zsh-fsh.git
[submodule "themes/catppuccin-lazygit"]
	path = themes/catppuccin-lazygit
	url = https://github.com/catppuccin/lazygit
[submodule "themes/catppuccin-k9s"]
	path = themes/catppuccin-k9s
	url = https://github.com/catppuccin/k9s.git
