vim/tmp/**/*
!vim/tmp/swp/.gitkeep
!vim/tmp/undo/.gitkeep
!vim/tmp/backup/.gitkeep
vim/yankring_history_v2.txt
vim/dbext_history.txt
irssi/sasl.auth
irssi/saved_colors
vim/pack/src
vim/autoload/plug.vim*
vim/bundle/*
karabiner/automatic_backups/
coc/extensions/node_modules/
coc/extensions/coc-json-data/json-schema-cache
