[submodule "zsh/bundle/syntax-highlighting"]
	path = zsh/bundle/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/bundle/completions"]
	path = zsh/bundle/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/bundle/history-substring-search"]
	path = zsh/bundle/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "catppuccin-delta"]
	path = catppuccin-delta
	url = https://github.com/catppuccin/delta.git
