[submodule "zsh/bundle/syntax-highlighting"]
	path = zsh/bundle/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/bundle/completions"]
	path = zsh/bundle/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/bundle/history-substring-search"]
	path = zsh/bundle/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "catppuccin-delta"]
	path = catppuccin-delta
	url = https://github.com/catppuccin/delta.git
[submodule "themes/catppuccin-bat"]
	path = themes/catppuccin-bat
	url = https://github.com/catppuccin/bat.git
[submodule "themes/catppuccin-btop"]
	path = themes/catppuccin-btop
	url = https://github.com/catppuccin/btop.git
[submodule "themes/catppuccin-eza"]
	path = themes/catppuccin-eza
	url = https://github.com/catppuccin/eza.git
[submodule "themes/catppuccin-lsd"]
	path = themes/catppuccin-lsd
	url = https://github.com/catppuccin/lsd.git
