vim/tmp/**/*
!vim/tmp/swp/.gitkeep
!vim/tmp/undo/.gitkeep
!vim/tmp/backup/.gitkeep
vim/yankring_history_v2.txt
vim/dbext_history.txt
pentadactyl/info
mutt/tmp/*
!mutt/tmp/.gitkeep
mutt/cache/headers/*
!mutt/cache/headers/.gitkeep
mutt/cache/bodies/*
!mutt/cache/bodies/.gitkeep
irssi/sasl.auth
irssi/saved_colors
vim/pack/minpac
vim/pack/bundle
config/nvim/tmp/**/*
!config/nvim/tmp/swp/.gitkeep
!config/nvim/tmp/undo/.gitkeep
!config/nvim/tmp/backup/.gitkeep
config/nvim/yankring_history_v2.txt
config/nvim/dbext_history.txt
config/nvim/autoload/plug.vim
config/nvim/autoload/plug.vim.old
config/nvim/plugged
config/nvim/.init.vim-rplugin~
config/configstore/
config/hub
